.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
.text-right {
    text-align: right
}

body {
    background:url("browser/bg-light.png");
}

.wrapper {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.body {
	background: white;
    padding: 20px;
    font-size: 14px;
    font-family: courier new;
    color: black;
}

.line {
	height: 2px;
	background: #666;
	margin-bottom: 20px;
}

.wr-btn {
	background: #ededed;
	border-radius: 0;
	border: solid;
	border-width: 1px;
	border-color: #d2d2d2;
	padding: 5px;
	color: #666;
	font-weight: bold;
	margin-right: 8px;
}
.wr-btn:hover {
	background: white;
}
.a {
	background: white;
	border-color: white;
}
.mail {
    float:right; 
    margin-right: 0
}
.top {
    float:right;
    margin-right:16px; 
    height: 27px
}

a {
	border-color: #d2d2d2;
	color: #666;
	font-weight: bold;
	text-decoration: none;
}

.cr {
    width: 850px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5px; 
    font-family: arial; 
    font-size: 14px; 
    color: #ededed
}

h1 {
	color: #464c54;
	font-weight: bold;
	font-size: 32px;
	font-family: georgia
}

footer {
	position: fixed;
	left: 8px;
	bottom: 10px;
	width: 100%;
}